@import url(layout.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body-container {
	grid-template-areas: "header header header " "main-container main-container rightbar" "footer footer footer";
	grid-template-columns: 900px 1fr 250px;
}
.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible;
}
main {
	margin: 3rem;
	width: 67rem;
}
.blog-image {
	width: 50%;
}
.caption{
	font-size: smaller;
}
main article {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	line-height: 2.5;
	padding-left: 7px;
	padding-right: 7px;
	margin-right: 5rem
}
.red {
	color: red;
}
.blueviolet {
	color: blueviolet;
}
.darksalmon {
	color: darksalmon;
}
blockquote {
	background: lightgray;
	padding: 5px;
}
.sharing-list {
	list-style: none;
	padding: 2px;
}
.sharing ul li {
	float: left;
}
.icon {
	padding: 7px;
	width: 50px;
}
.rightbar {
	grid-area: rightbar;
	display: flex;
	flex-direction: column;
}
.author-container {
	display: flex;
	flex-direction: row;
	width: fit-content;
	padding: 10px;
}
.author-info {
	padding-left: 19px;
	margin-left: 10px;
	border-left: 5px solid black;
}
.author-img {
	width: 150px;
	border-radius: 50%;
	background-color: #696969
}
.archives-box {
	font-size: larger;
	line-height: 3.5rem;
}
.archives-box ul li {
	list-style: none;
	margin: .2rem
}
.archives-box h1 {
	margin: 1rem
}
@media (max-width:1100px) {
	.body-container {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		grid-template-areas: "header . ." "main-container . ." "rightbar . ." "footer . ."
	}
	.header-list {
		display: flex;
		list-style: none;
		flex-direction: column
	}
	.header-item:first-child {
		margin-right: 0;
		margin-left: 0
	}
	main {
		margin: 0;
		width: initial;
	}
	.main-container {
		width: 110%;
		grid-area: main-container;
		margin-left: 0
	}
	.author-info {
		padding-left: 8px;
		margin-left: none;
		border-left: none;
	}
	.author-container {
		flex-direction: column;
	}
	.archives-box {
		left: 0;
	}
}